/* 

ESTILIZANDO O FSI PARA VISUALIZAÇÃO DE IMAGENS

*/

.fsi-body
{
margin:0;
padding:0;
}

.fsi-imagem
{
background-color:#ccc; 
width:100%;
 height:85%;
}

.fsi-thumnail
{
width:100%;
height:15%;
}

.fsi-thumb
{
margin-left:15%;
margin-top: 15px;
}

.fsi-thumb > img
{
margin-top:15px;
}